@media screen and (max-width: 800px){
    .login {
        .login-card {
            width: 80vw;

        }
    }
}
.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-card {
        width: 300px;
        .ant-card-head {
            background-color: rgb(253,208,0);
        }
        .ant-card-body {
            background-color: rgb(245,245,245);
            padding: 8px 24px;
        }
        input {
            border-radius: 1rem;
        }
        input:active {
            border-color: rgb(253,208,0);
        }
    }
    .login-ForR {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
    }
}

