.swiper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    h3 {
        color: #fff;
        vertical-align: middle;
        text-align: center;
        background-color: #364f79;
        overflow: hidden;

    }
}
